$statBoxColour: #eaeaea;
$secondaryColor: #ec0050;
$edgeSpace: 20px;

.Master-Container {
  height: 700px;
  width: 360px;
  margin: auto;
  border: 1px solid black;
}

#Select-Container {
  text-align: center;
}

.topDiv {
  height: 50%;
  background: url("/assets/Background Pattern.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.bottomDiv {
  background-color: $secondaryColor;
  height: 50.1%;
  margin-left: -1px;
}

#ListOfPlayer {
  padding: 15px;
  background-color: $statBoxColour;
  border: none;
  width: 90%;
  margin: auto;
  margin-top: $edgeSpace;
}

#statBox {
  overflow-y: scroll;
  height: 68%;
}

.Stat_Attribute {
  width: 80%;
  margin: auto;
  background-color: white;
  margin-bottom: 3px;
  padding: 12px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 /19%);
}

.Stat_Value {
  float: right;
}

#Image-Container {
  height: 70%;
  margin-top: 10.8%;
  margin-left: 3%;
}

#name {
  font-size: 1.6em;
  margin-left: $edgeSpace;
  color: white;
  margin-top: 0px;
  padding-top: $edgeSpace;
  margin-bottom: 0px;
}

#position {
  font-size: 1em;
  margin-left: $edgeSpace;
  color: white;
  margin-top: 0px;
  padding-top: 10px;
}
